---
BasedOnStyle: Google
SortIncludes: CaseSensitive
IncludeIsMainRegex: '^(.*)/[^/]+\.cc$'
IncludeCategories:
  - Regex: '<[a-z_]+>'
    Priority: 1
  - Regex: '^<.*\.(h|hpp)>'
    Priority: 2
  - Regex: '^"[^"]*"'
    Priority: 3
